<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>workshop-tdc-summit-2024</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="header-wrapper">
            <div class="header">
                <div class="header-right">
                    <p>Welcome to <strong>MyPrompts</strong>! Your personal Prompt Storage ;)</p>
                </div>
                <div class="header-left">
                    <a href="/prompt-view"><input class="btn" value="Go to Prompts"></a>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="chat-view">
                <div class="chat-history">
                {#for message in chatMessages}
                    <div class="chat-history-item">
                        <h5>{message.type}</h5>
                        <div class="chat-history-item-text">{message.text}</div>
                    </div>
                {/for}
                </div>
                <div class="chat-input">
                    <form action="/chat-view/send" method="post">
                        <textarea class="chat-message-content" id="message" name="message" maxlength="300" ></textarea>
                        <input class="btn" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
