<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>workshop-tdc-summit-2024</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="header-wrapper">
            <div class="header">
                <div class="header-right">
                    <p><strong>MyPrompts</strong> Welcome to your personal Prompt Storage ;)</p>
                </div>
                <div class="header-left">
                    <a href="/prompt-view"><input class="btn" value="Go to Prompts"></a>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="chat-view">
                <div class="chat-history">
                {#for message in chatMessages}
                    <div class="chat-history-item">
                        <div>{message.type}</div>
                        <pre>{message.text}</pre>
                    </div>
                {/for}
                </div>
                <div class="chat-input">
                    <form action="/chat-view/send" method="post" enctype="multipart/form-data">
                        <textarea class="chat-message-content" id="text" name="text" maxlength="300" ></textarea>
                        <input class="btn" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-wrapper">
            <p>Prompts inspired from <a href="https://www.learnprompt.org/chat-gpt-prompts-for-coding/">learnprompt.org</a></p>
        </div>
    </body>
</html>
