<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>workshop-tdc-summit-2024</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="header-wrapper">
            <div class="header">
                <div>
                    <p><strong>MyAssistants</strong> Your personal Assistant Storage ;)</p>
                </div>
                <div class="left">
                    <a href="https://thedevconf.com/tdc/2024/summit-sao-paulo/#"><img  src="/branding-tdc-fundo-escuro.png"></a>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="prompt-grid">
            {#for prompt in promptList}
                <div class="prompt-item">
                    <div class="prompt-item-content">
                        <h3>{prompt.name}</h3>
                        <p>{prompt.text}</p>
                    </div>
                    <div class="prompt-item-actions">
                        <a href="/chat-view/createChat?prompt={prompt.name}"><input class="btn" value="Use prompt"></a>
                    </div>
                </div>
            {/for}
            </div>
        </div>
    </body>
</html>
