.logo {
    height: 30px;
}
.left {
    grid-column-end: left;
}
.header-wrapper {
    height: 50px;
    padding: 10px 50px;
    background: black;
    color: white;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
.content-wrapper {
    background: white;
    display: grid;
    grid-template-columns: 300px 1fr;
}
.chat-view {
    padding: 20px;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 120px;
}
.chat-history {
}
.chat-history-item {
    padding: 6px;
    margin-bottom: 13px;
}
.chat-history-item .title {
    font-weight: 600;
}
.chat-input-text {
    height: 80px;
    width: 100%;
}
.sidebar {
    padding-top: 20px;
    border-right: 1px solid lightgrey;
}
.sidebar .container {
    padding-bottom: 20px;
}
.prompt-list {
    padding: 0px;
}
.prompt-item {
    list-style-type: none;
    height: 50px;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}