html,
body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    display: grid;
    grid-template-rows: 60px 1fr;
}
p {
    margin: 0;
    line-height: 1.3rem;
    font-weight: 300;
}
img {
    height: 30px;
}
.left {
    grid-column-end: left;
}
.header-wrapper {
    padding: 1rem 13rem;
    background: black;
    color: white;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
.content-wrapper {
    background: white;
}
.btn {
    border: 0px;
    cursor: pointer;
    color: #fff;
    background-color: #0096FF;
    text-align: center;
    padding: 6px;
    border-radius: .25rem;
}
.prompt-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    clear: both;
}
.prompt-item {
    display: grid;
    align-items: stretch;
    justify-self: stretch;
    grid-template-rows: 1fr 30px;
    border: solid 1px lightgrey;
    padding: 10px;
}
.prompt-item-actions {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    column-gap: 5px;
    border-top: solid 1px lightgrey;
    padding: 6px;
}
.chat-view {
    padding: 0 13rem;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 120px;
}
.chat-header {
    padding: 10px;
}
.chat-history {
    display: grid;
}
.chat-history-item {
    padding: 6px;
    margin-bottom: 13px;
}
.chat-history-item .title {
    font-weight: 600;
}
.chat-history-item pre {
    margin: 0px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}
.chat-input-text {
    height: 80px;
    width: 100%;
}
